*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0%;
}
body{
    font-size: 18px;
    min-height: 100vh;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
input{
    max-width: 40%;
    border-radius: 20px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 2%;
}
p , li{
    font-family: 'Open Sans', sans-serif;
}

/* ----------------header----------------- */
header{
    background-image: url("../img/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(193, 100%, 96%);
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
nav div{
    flex-basis: 75%;
}
nav input{
    flex-basis: 13%;
    border-radius: 20px;
    border: none;
    color: black;
    background-color: white;
    font-weight: 700;
    padding: 0%;
    box-shadow: 0px 0px 15px 3px rgba(0,51,51,0.15);
}

/* ----------------section-one----------------- */

.section-one{
    display: flex;
    justify-content: center;
    margin: 3% 5% 0%;
}
.section-one-div{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}
.section-one-div *{
    max-width: 90%;
    margin-top: 5%;
}
.section-one-div h1{
    font-size: 2.5rem;
}
.section-one img{
    max-width: 100%;
}

/* ----------------section-two-three-four----------------- */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 0%;
    gap: 50px;
}
.section-two, .section-three, .section-four{
    display: flex;
    box-shadow: 0px 0px 15px 3px rgba(0,51,51,0.15);
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding: 3% 0%;
}
.sec{
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
}
.sec-two{
    display: flex;
    justify-content: end;
    flex-basis: 50%;
}
.section-three .sec-two{
    justify-content: start;
}
.sec-two img{
    max-width: 65%;
}

/* ----------------footer----------------- */

footer{
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(10, 1fr);
}
.footer-div{
    background-color: white;
    box-shadow: 0px 0px 15px 3px rgba(0,51,51,0.15);
    border-radius: 7px;
    grid-row: 1 / 4;
    grid-column: 3 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-div input{
    padding: 2% 6%;
}

.footer-div2{
    background-color: hsl(192, 100%, 9%);
    color: white;
    grid-row: 3 /11 ;
    grid-column: 1 / 11;
    display: flex;
    flex-direction: column;
}
.footer-div2 div:first-child{
    margin: 7% 4% 0%;
}
.logo2 img{
    max-width: 15%;
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(338deg) brightness(106%) contrast(100%);
}
.list{
    display: flex;
}
.list ul:nth-child(1){
    flex-basis: 35%;
}
.list ul:not(:first-child){
    flex-basis:  20%;
}
.list ul:nth-child(1) li{
    display: flex;
    align-items: flex-start;
}
.list ul:nth-child(1) img{
    margin: 1% 5% 0% 0%;
}
.list ul:nth-child(1) p{
    align-items: flex-start;
    align-self: flex-start;
}
li{
    margin: 5%;
}
.media{
    display: flex;
}
.media li{
    flex-basis: 15%;
}
.media img{
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(338deg) brightness(106%) contrast(100%);
}
.Copyright{
    align-self: flex-end;
    margin-right: 5%;
}

/* ----------------hover----------------- */

input:hover{
    opacity: 0.5;
    cursor: pointer;
}
.list ul:nth-child(2) li:hover, .list ul:nth-child(3) li:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
    max-width: fit-content;
}
.list ul:nth-child(4) li:hover{
    cursor: pointer;
    filter: invert(18%) sepia(98%) saturate(2719%) hue-rotate(222deg) brightness(85%) contrast(119%);
}


/* ----------------@media----------------- */


@media (max-width: 900px){
    h1{
        font-size: 1.5rem;
    }

    /* ----------------footer----------------- */

    .media li{
        flex-basis: 20%;
    }
}

@media (max-width: 700px){
    /* ----------------section-one----------------- */
    .section-one{
        flex-direction: column;
    }
    .section-one-div{
        margin-bottom: 5%;
    }

    /* ----------------footer----------------- */

    .footer-div{
        grid-column: 2/10;
    }
}

@media (max-width: 600px){
    h1{
        font-size: 1.1rem;
        text-align: center;
    }

    /* ----------------section-two-three-four----------------- */

    .section-two, .section-four{
        flex-direction: column-reverse;
    }
    .section-three{
        flex-direction: column;
    }
    .sec-two, .sec{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .section-three .sec-two{
        justify-content: center;
    }

    /* ----------------footer----------------- */

    footer{
        grid-template-rows: repeat(14, 50px);
    }
    .footer-div2{
        background-color: hsl(192, 100%, 9%);
        grid-row: 3 /15 ;
        padding-top: 15%;
    }
    .footer-div{
        grid-column: 1/11;
    }
    .logo2 img{
        max-width: 30%;
    }
    .list ,.Copyright{
        flex-direction: column;
        background-color: hsl(192, 100%, 9%);
    }
    li{
        margin: 1% 0%;
    }
    .media{
        justify-content: center;
    }
    .Copyright{
        align-self: center;
        font-size: 0.9rem;
        margin-left: 10%;
    }
    .media li{
        flex-basis: 10%;
        margin: 0% 2%;
    }
}